{% extends 'base.html.twig' %}

		
{% block body %}
        <div class="container">
          <h1 class="display-3">Test Ositel</h1>
         <div class="row">
         <div class="col-md-6">
		 <h3>Liste des cartes tir&eacute;es :</h3>
			 <table class="table table-sm">
				  <thead>
					<tr>
					  <th scope="col">Category</th>
					  <th scope="col">Value</th>
					</tr>
				  </thead>
				  <tbody>
					{% for card in cards %}
						<tr>
						<td>{{ card.category }}</td>
						<td>{{ card.value }}</td>
						</tr>
					{% endfor %}
				 </tbody>
		   </table>
	   </div>
	   <div class="col-md-3">
			 <table class="table table-sm">
				  <thead>
					<tr>
					  <th scope="col">Order Category</th>
					</tr>
				  </thead>
				  <tbody>
					{% for categorie in categories %}
						<tr>
						  <td>{{ categorie }}</td>
						</tr>
					{% endfor %}
				 </tbody>
		   </table>
	   </div>
	   <div class="col-md-3">
			 <table class="table table-sm">
				  <thead>
					<tr>
					  <th scope="col">Order Values</th>
					</tr>
				  </thead>
				  <tbody>
					{% for value in values %}
						<tr>
						  <td>{{ value }}</td>
						</tr>
					{% endfor %}
				 </tbody>
		   </table>
	   </div>
		 </div>
		 <div class="row">
         <div class="col-md-12">
		   <h3>Liste des cartes tri&eacute;es :</h3>
			 <table class="table table-sm">
				  <thead>
					<tr>
					  <th scope="col">Category</th>
					  <th scope="col">Value</th>
					</tr>
				  </thead>
				  <tbody>
					{% for card in sortedcards %}
						<tr>
						<td>{{ card.category }}</td>
						<td>{{ card.value }}</td>
						</tr>
					{% endfor %}
				 </tbody>
		   </table>
		 </div>
		 
		 </div>
		 <div class='col-md-12'>
				   {% if result == 200 %}
					<div class="alert alert-success" role="alert">
					  <strong>Correcte !! </strong>Les cartes ont &eacute;t&eacute; bien tri&eacute;es !
					</div>	
						
					{% elseif result == 406  %}
						<div class="alert alert-warning" role="alert">
						  <strong>Oops !! </strong>trie non corercte !
						</div>
						<h3>Solution :</h3>
			 <table class="table table-sm">
				  <thead>
					<tr>
					  <th scope="col">Category</th>
					  <th scope="col">Value</th>
					</tr>
				  </thead>
				  <tbody>
					{% for card in resultbody %}
						<tr>
						<td>{{ card.category }}</td>
						<td>{{ card.value }}</td>
						</tr>
					{% endfor %}
				 </tbody>
		   </table>
			{% else %}			
				Probleme survenue lors de la correction !!
		    {% endif %}		 
		 </div>
		</div>
      
{% endblock %}
